<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>48intens - Member</title>
  <meta name="description"
    content="48Intens Official - 48Intens adalah fanbase besar dan aktif untuk JKT48 dengan lebih dari 45,000 member. Kami selalu memberikan informasi terbaru seputar JKT48 setiap hari, termasuk berita, event, dan masih banyak lagi." />
  <meta name="keywords" content="48intens, JKT48, jekate48, member, news" />
  <meta property="og:title" content="48intens Website" />
  <meta property="og:description"
    content="48Intens Official - 48Intens adalah fanbase besar dan aktif untuk JKT48 dengan lebih dari 45,000 member. Kami selalu memberikan informasi terbaru seputar JKT48 setiap hari, termasuk berita, event, dan masih banyak lagi." />
  <meta property="og:image"
    content="https://res.cloudinary.com/dlx2zm7ha/image/upload/v1737299881/intens_iwwo2a.webp" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:url" content="https://48intens.com" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="48intens Website" />
  <meta name="twitter:description"
    content="48Intens Official - 48Intens adalah fanbase besar dan aktif untuk JKT48 dengan lebih dari 45,000 member. Kami selalu memberikan informasi terbaru seputar JKT48 setiap hari, termasuk berita, event, dan masih banyak lagi." />
  <meta name="twitter:image"
    content="https://res.cloudinary.com/dlx2zm7ha/image/upload/v1737299881/intens_iwwo2a.webp" />
  <meta name="twitter:creator" content="@48intens" />
  <link rel="icon" href="/assets/image/icon.png" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/assets/css/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css" />
</head>

<body class="bg-white min-h-screen flex flex-col">
  <nav class="bg-white border-b border-gray-200">
    <div class="container mx-auto px-6 py-4 flex justify-between items-center">
      <a href="/home" class="text-2xl font-bold">48intens</a>
      <div class="md:hidden">
        <button id="menu-toggle" class="text-gray-700 focus:outline-none relative w-6 h-6">
          <div class="menu-icon">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
          </div>
        </button>
      </div>
      <div id="menu" class="hidden md:flex items-center space-x-6">
        <a href="/news" class="font-semibold hover:text-purple-200">News</a>
        <a href="/schedule" class="font-semibold text-gray-700 hover:text-purple-200">Schedule</a>
        <a href="/member" class="font-semibold text-gray-700 hover:text-purple-200">Member</a>
        <a href="/livejkt48" class="font-semibold text-gray-700 hover:text-purple-200">Stream</a>
        
        <div class="flex space-x-4">
          <a href="/mypage" class="inline-block">
            <button class="bg-gradient-to-r from-pink-300 via-purple-300 to-cyan-300 hover:opacity-80 text-white px-6 py-2 rounded-full flex items-center">
              MyPage
              <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
          <a href="/login" class="inline-block">
            <button id="loginButton"
              class="border-2 border-blue-300 hover:bg-blue-300 hover:text-white text-blue-300 px-6 py-2 rounded-full flex items-center">
              Login
              <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17l-5-5 5-5"></path>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div id="mobile-menu" class="hidden md:hidden bg-white border-t border-gray-200 overflow-hidden">
      <div class="mobile-menu-content">
        <a href="/news" class="menu-item font-semibold block px-4 py-2 text-gray-700 hover:bg-gray-100">News</a>
        <a href="/schedule" class="menu-item font-semibold block px-4 py-2 text-gray-700 hover:bg-gray-100">Schedule</a>
        <a href="/member" class="menu-item font-semibold block px-4 py-2 text-gray-700 hover:bg-gray-100">Member</a>
        <a href="/livejkt48" class="menu-item font-semibold block px-4 py-2 text-gray-700 hover:bg-gray-100">Stream</a>
        
        <div class="px-4 py-2 space-y-2">
          <a href="/mypage" class="block">
            <button class="w-full bg-gradient-to-r from-pink-300 via-purple-300 to-cyan-300 hover:opacity-80 text-white px-6 py-2 rounded-full flex items-center justify-center">
              MyPage
              <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
          <a href="/login" class="block">
            <button id="loginButtonMobile"
              class="w-full border-2 border-blue-300 hover:bg-blue-300 hover:text-white text-blue-300 px-6 py-2 rounded-full flex items-center justify-center">
              Login
              <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17l-5-5 5-5"></path>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div id="progressContainer" class="relative w-full h-1 bg-gray-700">
    <div id="progressBar" class="absolute h-1 bg-gradient-to-r from-pink-300 via-purple-300 to-cyan-300"
      style="width: 0%"></div>
  </div>

  <div class="container mx-auto px-4 py-8 flex-grow">
    <div class="flex flex-wrap justify-between items-center mb-6 gap-4">
      <h1 class="text-3xl sm:text-4xl font-bold text-left mb-6">
        <span class="bg-gradient-to-r from-[#83b4ff] via-[#5a72a0] to-[#1a2130] text-transparent bg-clip-text">
          Member JKT48.
        </span>
      </h1>
      <div class="relative w-full sm:w-auto">
        <input id="search-member" type="text" placeholder="Cari nama member..."
          class="w-full sm:w-64 px-4 py-2 border border-gray-300 rounded-3xl focus:outline-none focus:ring focus:border-blue-500" />
      </div>
    </div>
    <div id="page-member-container" class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-9 gap-4"></div>
  </div>

  <footer class="bg-gray-900 text-white py-8">
    <div class="container mx-auto px-6">
      <div class="flex flex-col md:flex-row justify-between items-start md:items-center">
        <div class="mb-6 md:mb-0">
          <h2 class="text-3xl font-extrabold text-white">48intens</h2>
          <p class="text-base text-gray-400 mt-2">
            Bringing JKT48 closer to you.
          </p>
        </div>
        <div class="flex flex-col md:flex-row md:items-center gap-4">
          <a href="/about" class="text-lg font-medium text-gray-400 hover:text-white transition">About 48intens</a>
          <a href="/member" class="text-lg font-medium text-gray-400 hover:text-white transition">Members</a>
          <a href="/news" class="text-lg font-medium text-gray-400 hover:text-white transition">News</a>

        </div>
      </div>

      <div class="flex justify-center md:justify-end mt-6 space-x-6">
        <a href="https://48intens.com/discord" target="_blank"
          class="text-gray-400 hover:text-white text-2xl transition">
          <i class="fab fa-discord"></i>
        </a>
        <a href="https://48intens.com/instagram" target="_blank"
          class="text-gray-400 hover:text-white text-2xl transition">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://48intens.com/twitter" target="_blank"
          class="text-gray-400 hover:text-white text-2xl transition">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="/teamintens" target="_blank" class="text-gray-400 hover:text-white text-2xl transition">
          <i class="fas fa-user-group"></i>
        </a>
      </div>
      <div class="text-center text-gray-500 mt-8 text-sm border-t border-gray-700 pt-4">
        &copy; 2025 48intens. All rights reserved.<br />All 48Intens servers
        are under managed by Typicalsleepingboy & RyuuG Dev
      </div>
    </div>
  </footer>

  <script src="/progress.js"></script>
  <script src="/utils/breadcrumb.js"></script>
  <script src="/utils/toast.js"></script>
  <script src="/utils/page-member.js"></script>
  <script src="/security/typicalsleepingboy.js"></script>
  <script src="/utils/navbar.js"></script>
  <script>
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
    const menuIcon = document.querySelector(".menu-icon");

    menuToggle.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
      menuIcon.classList.toggle("menu-active");
      setTimeout(() => {
        mobileMenu.classList.toggle("active");
      }, 10);
    });
  </script>
</body>

</html>