
body.no-scroll {
    overflow: hidden;
}
#popup.hidden {
    display: none;
}

#modal {
  transition: opacity 0.3s ease;
  opacity: 0;
}

#modal.fade-in {
  opacity: 1;
}

#modal.fade-out {
  opacity: 0;
}

