#popup {
    z-index: 9999; /* Pastikan popup berada di atas semua elemen */
}

body.no-scroll {
    overflow: hidden; /* Mencegah halaman di-scroll saat popup muncul */
}
#popup.hidden {
    display: none;
}

/* Tambahkan ini ke file CSS Anda */
#modal {
  transition: opacity 0.3s ease;
  opacity: 0;
}

#modal.fade-in {
  opacity: 1;
}

#modal.fade-out {
  opacity: 0;
}